body {
	margin: 0;
	padding:0;
}

#bg {
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#bg img {
	height: 650px;
	width: 900px;
	-webkit-filter:blur(20px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#blackLayer {
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 99;
}

#main, #tracklist {
	width: 20%;
	height: 370px;
	background-color: #eeeff5;
	border-radius: 15px;
	position: absolute;
	top: 22%;
	left: 40%;
	transform: translate(-50%; -50%);
	z-index: 999;
}

#image img {
	height: 250px;
	width: 100%;
	margin-top: -5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#player {
	padding: 25px;
	color: #333;
}

#topMenu {
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px 15px 0 0;
	line-height: 40px;
	position: absolute;
	top: 4%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#topButton1 {
	width: 15px;
	height: 15px;
	left: 30%;
	background: none;
	color: #fff;
	border: none;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

#topButton2 {
	width: 15px;
	height: 15px;
	left: 30%;
	background: none;
	border: none;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#topButton3 {
	width: 15px;
	height: 15px;
	left: 30%;
	background: none;
	color: #fff;
	border: none;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}

#burgerMenu {
	width: 15px;
	height: 15px;
	left: 30%;
	background: none;
	color: #888aa0;
	border: none;
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translate(-50%, -50%);
}

#songTitle {
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#buttons {
	height: 50px;
	width: 100%;
	margin-top: 50px;
	position: absolute;
	background-color: #eeeff5;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);

}


#play,#next,#pre,#link,#like {
	width: 40px;
	height: 40px;
	border: 0;
	background-color: #60558f;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#link {
	width: 23px;
	height: 23px;
	left: 10%;
	background-color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	}

#next {
	width: 25px;
	height: 25px;
	left: 70%;
}

#pre {
	width: 25px;
	height: 25px;
	left: 30%;
}

#like {
	width: 23px;
	height: 23px;
	left: 90%;
	background-color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	}

#like img {
	border: 0;
}

#play img, #next img, #pre img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#seek-bar {
	width: 100%;
	height: 8px;
	background-color: #fff;
	display: flex;
	margin-left: 25px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 65%;
}

#fill {
	height: 8px;
	background-color: red;
}

#handle {
	width: 8px;
	height: 8px;
	background-color: lightgrey;
	background-image: url("../img/handle.png");
	border-radius: 50%;
	margin-left: 4px;
	transform: scale(2);
}

#head {
	width: 100%;
	height: 50px;
	border-radius: 15px 15px 0 0;
	line-height: 40px;
	position: absolute;
	display: inline-block;
	top: 4%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#btnBack {
	display: inline-block;
	top: 4%;
	left: 50%;
}

#backToPlayer {
	width: 23px;
	height: 23px;
	left: 10%;
	background-color: #fff;
	text-align: center;
	margin: 0 0 0 10px;
	padding: 0;
	border: none;
	border-radius: 50%;
}

#headList {
	display: inline-block;
	margin-left: 23%;
}

.h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	color: #655a92;
}

.btnListItem {
	width: 90%;
	display: block;
	top: 60%;
	left: 50%;
	transform: translate(10%, 120%);
}

.songTitleList {
	width: 90%;
	height: 50px;
	color: #655a92;
	font-weight: bold; 
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	border-bottom: 0.5px solid lightgrey;
	position: relative;
}

.linkList {
	width: 23px;
	height: 23px;
	left: 10%;
	background-color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 77%;
	transform: translate(-50%, -50%);
}

.likeList {
	width: 23px;
	height: 23px;
	left: 90%;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 88%;
	transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
    #bg {
        width: 100%;
    }
    #main, #tracklist  {
       width: 80%;

    }
    
}

@media (min-width: 577px) {
    #bg {
        width: 100%;
    }
     #main, #tracklist  {
       width: 250px;
   }
}


@media (min-width: 480px) and (max-width:576px) {
    #bg,#bg img,#blackLayer {
        display: none;
    }
   #main, #tracklist  {
       width: 250px;
   }

@media (min-width: 479px){
  	 #bg,#bg img,#blackLayer {
        display: none;
    }
    #main, #tracklist  {
       width: 250px;
      
    }
}

